<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS Chart Demo by 25sprout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>563A75351C1E75A100FE3E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>563A75511C1E75A100FE3E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>563A755C1C1E75A100FE3E6E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
